{% extends "base_generic.html" %}

{% block content %}
			<!-- Main -->
				<div id="main">
					<div class="container">
						<div class="row main-row">
							<div class="col-3 col-12-medium">

								<section>
									<h2>Assets</h2>
									<ul class="link-list">
										<li><a class ="{% if request.resolver_match.url_name == "asset-overview" %}bold{% endif %}" href="{% url 'asset-overview' %}">Overview</a></li>
										{% for i in menu %}
										<li><a class="{% if pk == i.pk %}bold{% endif %}" href="{{i.get_absolute_url}}">{{i.name}}</a></li>
										{% endfor %}
									</ul>
								</section>

								<section>
									<h2>Something profound</h2>
									<p>Duis neque sed nisi, dapibus sed mattis rutrum accumsan sed.
									Suspendisse eu varius amet nibh. Suspendisse vitae magna eget odio amet
									mollis justo facilisis quis. Sed sagittis mauris amet tellus gravida
									lorem ipsum dolor consequat blandit tempus ipsum dolor lorem sit amet.</p>
								</section>

							</div>
							<div class="col-6 col-12-medium imp-medium">

								<section class="middle-content">
									<h2>{{asset.name}}</h2>
									<h3>Value: {{get_value}}</h3>
								</section>
								{% if value_set %}
								<section>
									<h4>Value History - <a href="{% url 'asset-overview' %}">All</a> - <a href="{% url 'asset-value-update' %}">Add</a></h4>
									<table>
										<tr>
											<th><em>Asset</em></th>
											<th><em>New Value</em></th>
											<th><em>Date</em></th>
										</tr>
										{% for a in value_set %}
										<tr>
											<td>{{ a.asset }}</td>
											<td style="text-align:right">{{ a.pretty_value}}</td>
											<td>{{ a.date }}</td>
										</tr>
										{% endfor %}
									</table>
								</section>
								{% endif %}
								{% if asset_set %}
								<section>
									<h4>Asset Values - <a href="{% url 'asset-overview' %}">All</a> - <a href="{% url 'create-asset' %}">Add</a></h4>
									<table>
										<tr>
											<th><em>Asset</em></th>
											<th><em>Value</em></th>
											<th><em>Last Updated</em></th>
										</tr>
										{% for a in asset_set %}
										<tr>
											<td>{{ a.name }}</td>
											<td style="text-align:right">{{ a.pretty_value }}</td>
											<td>{{ a.get_last_update }}</td>
										</tr>
										{% endfor %}
									</table>
								</section>
								{% endif %}
							</div>
							<div class="col-3 col-12-medium">

								<section>
									<ul class="small-image-list">
										<li><a class="button" href="{% url 'create-asset' %}">New Asset</a></li>
										<li><a class="button" href="{% url 'asset-value-update' %}">Update Asset Value</a></li>
									</ul>
								</section>

								<section>
									<h2>How about some links?</h2>
									<ul class="link-list">
										<li><a href="#">Quis accumsan lorem</a></li>
										<li><a href="#">Sed neque nisi consequat</a></li>
										<li><a href="#">Eget et amet consequat</a></li>
										<li><a href="#">Dapibus sed mattis blandit</a></li>
										<li><a href="#">Vitae magna sed dolore</a></li>
									</ul>
								</section>

							</div>
						</div>
					</div>
				</div>
{% endblock %}
