{% extends "base_generic.html" %}

{% block content %}
			<!-- Main -->
				<div id="main">
					<div class="container">
						<div class="row main-row">
							<div class="col-3 col-12-medium">

								<section>
									<h2>Assets</h2>
									<ul class="link-list">
										<li><a class ="{% if request.resolver_match.url_name == "asset-overview" %}bold{% endif %}" href="{% url 'asset-overview' %}">Overview</a></li>
										{% for i in menu %}
										<li><a class="{% if pk == i.pk %}bold{% endif %}" href="{{i.get_absolute_url}}">{{i.name}}</a></li>
										{% endfor %}
									</ul>
								</section>

							</div>
							<div class="col-6 col-12-medium imp-medium">

								<section class="middle-content">
									<h2>{{asset.name}}</h2>
									<h3>Value: {{get_value}}</h3>

								</section>
								{% if value_set %}
								<section>
									<h4>Value History - <a href="{% url 'asset-overview' %}">All</a> - <a href="{% url 'asset-value-update' %}">Add</a></h4>
									<table>
										<tr>
											<th><em>Asset</em></th>
											<th><em>New Value</em></th>
											<th><em>Date</em></th>
										</tr>
										{% for a in value_set %}
										<tr>
											<td>{{ a.asset }}</td>
											<td style="text-align:right">{{ a.pretty_value}}</td>
											<td>{{ a.date }}</td>
										</tr>
										{% endfor %}
									</table>
								</section>
								{% endif %}
								{% if transaction_set %}
								<section>
									<h4>Transaction History - <a href="{% url 'transactions' %}">All</a> - <a href="{% url 'create-transaction' %}">Add</a></h4>
									<table>
										<tr>
											<th><em>Person</em></th>
											<th><em>Amount</em></th>
											<th><em>Date</em></th>
											<th><em>Notes</em></th>
										</tr>
										{% for t in transaction_set %}
										<tr>
											<td>{{ t.person }}</td>
											<td style="text-align:left">{{ t.pretty_amount }}</td>
											<td style="text-align:left">{{ t.pretty_date }}</td>
											<td style="text-align:left">{{ t.notes }}</td>
										</tr>
										{% endfor %}
									</table>
								</section>
								{% endif %}
							</div>
							<div class="col-3 col-12-medium">

								<section>
									<h2>All Time Asset Profitability</h2>
									<table>
										<tr><td><h3>Income: </h3></td>
												<td><h3>${{get_inflow}} </h3>
										<tr><td><h3>Expenses:</h3></td>
												<td><h3>-${{get_expenses}}</h3></td>
										<tr><td><h3>Net: </h3></td>
												<td><h3>${{get_net}}</h3>
									</table>
								</section>
								<section>
									<ul class="small-image-list">
										<li><a class="button" href="{% url 'create-asset' %}">New Asset</a></li>
										<li><a class="button" href="{% url 'asset-value-update' %}">Update Asset Value</a></li>
									</ul>
								</section>
								
							</div>
						</div>
					</div>
				</div>
{% endblock %}
