{% extends "base_generic.html" %}

{% block content %}
<!-- Main -->
	<div id="main">
		<div class="container">
			<div class="row main-row">
				<div class="col-12">

					<section>
						<header id="scroll">
							{% if 'create' in request.path %}
							<h2>New</h2>
							{% else %}
							<h2>Edit</h2>
							{% endif %}
							<p></p>
						</header>
                        <form method="POST" class="post-form">
                            {% csrf_token %}
							<style>
							table {
								width:100%;
							}
							tr:nth-child(even) {
								background-color: #f2f2f2;
							}

							td, th {
								padding:10px;
								text-align:left;
							}
							</style>
							<table>
                            	{{ form.as_table }}
							</table>
                            <button type="submit" class="button">Save</button>
                        </form>
					</section>

				</div>
			</div>
		</div>
	</div>

{% endblock %}
