{% extends "base_generic.html" %}

{% block content %}
			<!-- Main -->
				<div id="main">
					<div class="container">
						<div class="row main-row">
							<div class="col-3 col-12-medium">
								<style>
								table {
									width:100%;
								}
								tr:nth-child(even) {
									background-color: #f2f2f2;
								}

								td, th {
									padding:10px;
									text-align:left;
								}
								</style>
								<section>
									<h2>Investors</h2>
									<ul class="link-list">
										<li><a href="{% url 'investor-overview' %}">Overview</a></li>
										{% for i in menu %}
										<li><a href="{{i.get_absolute_url}}">{{i.name}}</a></li>
										{% endfor %}
									</ul>
								</section>

								<section>
									<h2>Something profound</h2>
									<p>Duis neque sed nisi, dapibus sed mattis rutrum accumsan sed.
									Suspendisse eu varius amet nibh. Suspendisse vitae magna eget odio amet
									mollis justo facilisis quis. Sed sagittis mauris amet tellus gravida
									lorem ipsum dolor consequat blandit tempus ipsum dolor lorem sit amet.</p>
								</section>

							</div>
							<div class="col-6 col-12-medium imp-medium">

								<section class="middle-content">
									<h2>{{investor.name}}</h2>
									<h3>Percentage: {{investor.pretty_percent}} -- Equity: {{investor.get_equity}}</h3>
								</section>
								{% if transaction_set %}
								<section>
									<h4>Transactions - <a href="{% url 'transactions' %}">All</a> - <a href="{% url 'create-transaction' %}">Add</a></h4>
									<table>
										<tr>
											<th><em>Date</em></th>
											<th><em>Bank Date</em></th>
											<th><em>Amount</em></th>
											<th><em>Person</em></th>
											<th><em>For</em></th>
										</tr>
										{% for t in transaction_set %}
										<tr>
											<td>{{ t.date }}</td>
											<td>{{ t.bank_posted_date }}</td>
											<td>{{ t.pretty_amount}}</td>
											<td>{{ t.person }}</td>
											<td>{{ t.notes }}</td>
											<td><a href="{{t.get_edit_url}}">Edit</a></td>
										</tr>
										{% endfor %}
									</table>
								</section>
								{% endif %}
								{% if hours %}
								<section>
									<h4>Hours - <a href="{% url 'hourview' %}">All</a> - <a href="{% url 'create-hour' %}">Add</a></h4>
									<table>
										<tr>
											<th style='width:120px;'>Date</th>
											<th style='width:70px;'>Name</th>
											<th style='width:40px;'>Hours</th>
											<th>For</th>
											<th style='width:30px;'>Paid</th>
											<th style='width:30px;'></th>

										</tr>
										{% for h in hours %}
										<tr>

											<td>{{h.date}}</td>
											<td>{{h.name}}</td>
											<td>{{h.hours}}</td>
											<td>{{h.work}}</td>
											<td>{{h.paid}}</td>
										</tr>
										{% endfor %}
									</table>
								</section>
								{% endif %}
							</div>
							<div class="col-3 col-12-medium">

								<section>
									<h2>Who are you guys?</h2>
									<ul class="small-image-list">
										<li>
											<a class="button" href="{% url 'create-transaction' %}">New Transaction</a>
											<h4>Jane Anderson</h4>
											<p>Varius nibh. Suspendisse vitae magna eget et amet mollis justo facilisis amet quis.</p>
										</li>
										<li>
											<a href="#"><img src="images/pic1.jpg" alt="" class="left" /></a>
											<h4>James Doe</h4>
											<p>Vitae magna eget odio amet mollis justo facilisis amet quis. Sed sagittis consequat.</p>
										</li>
									</ul>
								</section>

								<section>
									<h2>How about some links?</h2>
									<ul class="link-list">
										<li><a href="#">Quis accumsan lorem</a></li>
										<li><a href="#">Sed neque nisi consequat</a></li>
										<li><a href="#">Eget et amet consequat</a></li>
										<li><a href="#">Dapibus sed mattis blandit</a></li>
										<li><a href="#">Vitae magna sed dolore</a></li>
									</ul>
								</section>

							</div>
						</div>
					</div>
				</div>
{% endblock %}
