{% extends "base_generic.html" %}

{% block content %}
			<!-- Main -->
				<div id="main">
					<div class="container">
						<div class="row main-row">
							<div class="col-3 col-12-medium">
								<section>
									<h2>Tenants</h2>
									<ul class="link-list">
										<li><a class ="{% if request.resolver_match.url_name == "tenant-overview" %}bold{% endif %}" href="{% url 'tenant-overview' %}">Overview</a></li>
										{% for i in menu %}
										<li><a class="{% if pk == i.pk %}bold{% endif %}" style="{% if i.active == False %}color:grey;{% endif %}" href="{{i.get_absolute_url}}">{{i.name}}</a></li>
										{% endfor %}
									</ul>
								</section>
							</div>
							<div class="col-6 col-12-medium imp-medium">

								<section class="middle-content">
									<h2>{{tenant.name}}</h2>
									{% if lease_list %}
									<p>
										<ul>
											<li><strong>Current Leases:</strong></li>
											{% for l in lease_list %}
											<li>
												<a href="{{l.get_absolute_url}}">
													{{l}}
												</a>
											</li>
											{% endfor %}
										</ul>
									</p>
									{% else %}
									<p>Current Lease: <a href="{{tenant.get_current_lease.get_absolute_url}}">{{tenant.get_current_lease}}</a></p>
									{% endif %}
									<p><strong>{% if request.resolver_match.url_name == "tenant-overview" %}Total {% endif %}Deposit Value: {{tenant.get_deposit_value}}</strong></p>
								</section>
								<section>
									<h4>Deposit Adjustments - <a href="{% url 'create-deposit' %}">Add</a></h4>
									{% if deposit_set %}
									<table>
										<tr>
											<th><em>Date</em></th>
											<th><em>Amount</em></th>
											<th><em>Tenant</em></th>
											<th><em>For</em></th>
										</tr>
										{% for d in deposit_set %}
										<tr>
											<td>{{ d.date }}</td>
											<td>{{ d.pretty_amount}}</td>
											<td>{{ d.tenant }}</td>
											<td>{{ d.notes }}</td>
											<td><a href="{{d.get_edit_url}}">Edit</a></td>
										</tr>
										{% endfor %}
									</table>
									{% else %}
									<a class='button' href="{% url 'initial-deposit' pk=tenant.pk %}">Initial Deposit</a>
									{% endif %}
								</section>
								{% if transaction_set %}
								<section>
									<h4>Transactions - <a href="{% url 'transactions' %}">All</a> - <a href="{% url 'create-transaction' %}">Add</a></h4>
									<table>
										<tr>
											<th><em>Date</em></th>
											<th><em>Bank Date</em></th>
											<th><em>Amount</em></th>
											<th><em>Person</em></th>
											<th><em>For</em></th>
										</tr>
										{% for t in transaction_set %}
										<tr>
											<td>{{ t.date }}</td>
											<td>{{ t.bank_posted_date }}</td>
											<td>{{ t.pretty_amount}}</td>
											<td>{{ t.person }}</td>
											<td>{{ t.notes }}</td>
											<td><a href="{{t.get_edit_url}}">Edit</a></td>
										</tr>
										{% endfor %}
									</table>
								</section>
								{% endif %}
							</div>
							<div class="col-3 col-12-medium">

								<section>
									<ul class="small-image-list">
										<li>
											<a class="button" href="{% url 'create-transaction' %}">New Transaction</a>
										</li>
										{% if request.resolver_match.url_name == "tenant-detail" %}
										<li>
											<a class="button" href="{{tenant.get_edit_url}}">Edit Tenant</a>
										</li>
										{% else %}
										<li>
											<a class="button" href="{% url 'create-tenant' %}">Create Tenant</a>
										</li>
										{% endif %}
									</ul>
								</section>
								{% if request.resolver_match.url_name == "tenant-detail" %}
								<section>
									<h2>Notes</h2>
									<h4><a href="{% url 'tenant-notes' pk=tenant.pk %}">Edit</a></h4>
									<p>{{tenant.notes}}</p>
								</section>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
{% endblock %}
