{% extends "base_generic.html" %}

{% block content %}
			<!-- Main -->
				<div id="main">
					<div class="container">
						<div class="row main-row">
							<div class="col-10 col-12-medium imp-medium">
								<section>
									<h2>Transactions</h2>
									<table>
										<tr>
											<th><em>Date</em></th>
											<th><em>Bank Date</em></th>
											<th><em>Amount</em></th>
											<th><em>Person</em></th>
											<th><em>For</em></th>
										</tr>
										{% for t in transaction_list %}
										<tr>
											<td>{{ t.date }}</td>
											<td>{{ t.bank_posted_date }}</td>
											<td>{{ t.pretty_amount}}</td>
											<td>{% if t.tenant.get_absolute_url %}<a href="{{t.tenant.get_absolute_url}}">{{ t.person }}</a>{% elif t.investor.get_absolute_url %}<a href="{{t.investor.get_absolute_url}}">{{ t.person }}</a>{% else %}{{ t.person }}{% endif %}</td>
											<td>{{ t.notes }}</td>
											<td><a href="{{t.get_edit_url}}">Edit</a></td>
										</tr>
										{% endfor %}
									</table>
								</section>
							</div>
							<div class="col-2 col-12-medium" id="fixedmenu">
								<section>
									<ul>
										<li><h3 style="color:{{in_bank_color}};">In Bank: {{in_bank}}</h3></li>
										<li><h3>Last Updated: {{last_bank_update}}</h3></li>
										<li><a class="button" href="{% url 'create-transaction' %}">New Transaction</a></li>
										<li><p><a href="{% url 'transactions-export' %}">Download All Transactions</a></p></li>
										<!-- <li><a href="{% url 'import' %}">Import From Backup</a></li> -->
									</ul>
								</section>
							</div>
						</div>
					</div>
				</div>

{% endblock %}
