{% extends "base_generic.html" %}
{% load static %}
{% block content %}
<!-- Main -->
    <div id="main">
        <div class="container">
            <div class="row main-row">
                <div class="col-4 col-12-medium">

                    <section>
                      <!--Chartjs canvas !-->
                      <canvas id="Property Pie Chart" width="400" height="400"></canvas>
                      <!--Chartjs scripts !-->
                      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
                      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
                      <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js'></script>
                      <script>
                      $(document).ready(function(){
                        var endpoint = '/finances/api'
                        var defaultData = []
                        var labels = [];
                        $.ajax({
                            method: "GET",
                            url: endpoint,
                            success: function(data){
                                console.log(data)
                                console.log(data.values[1]*10)
                                var ctx = document.getElementById("Property Pie Chart");
                                var myChart = new Chart(ctx, {
                                type: 'pie',
                                data: {
                                    labels: data.labels,
                                    datasets: [{
                                        data: data.values,
                                        backgroundColor:[
                                                          'rgba(23,55,83,1)',
                                                          'rgba(0,79,255,1)',
                                                          'rgba(49,175,212,1)',
                                                          'rgba(40,146,215,1)',
                                                          'rgba(27,67,83,1)',

                                                          ]
                                    }]
                                },
                                options: {
                                    title:{
                                      display: true,
                                      text: 'Property Values',
                                      fontSize: 24,
                                    },
                                    legend: {
                                        labels: {
                                            // This more specific font property overrides the global property
                                            fontColor: 'black',
                                            fontSize: 16,
                                        }
                                    }
                                },
                            });
                            },
                            error: function(error_data){
                                console.log("error")
                                console.log(error_data)
                            }
                        })
                      })
                      </script>
                      <!-- end chart scripts !-->

                    </section>

                </div>
                <div class="col-4 col-6-medium col-12-small">

                    <section>
                        <h2>External Links</h2>
                        <ul>
                            <li><a href ="https://drive.google.com/drive/folders/0By7LWw8MKHXMfkJMZ2lsSndkZFpESTdvTW1JeUZrR2o5UmxGaUdqQXJDVzJVUGhLa0EzS3c?usp=sharing"
                            class="logobutton"
                            target="_blank"
                            ><img style="height:45px;" src="{% static 'img/drive-logo.png' %}" alt="google drive documents folder"></a></li>
                            <li><br></li>
                            <li><a href="https://home.cozy.co" class="logobutton" target="_blank"><img style="height:45px; margin:0px 17px 0px 17px" src="{% static 'img/cozy-brand.svg' %}" alt="cozy"></a></li>
                            <li><p>Credentials:<br>
                                caseywchristensen@gmail.com<br>
                                brownstone1</p></li>
                        </ul>
                    </section>

                </div>
                <div class="col-4 col-6-medium col-12-small">

                    <section>
                        <h2>Shortcuts</h2>
                        <div>
                            <div class="row">
                                <div class="col-6 col-12-small">
                                    <ul class="link-list">
                                        <li><a href="{% url 'hourview' %}">Hours</a></li>
                                        <li><a href="{% url 'dividends' %}">Dividends</a></li>
                                        <li><a href="{% url 'asset-overview' %}">Assets</a></li>
                                        <li><a href="#">Suspendisse varius ipsum</a></li>
                                        <li><a href="#">Eget et amet consequat</a></li>
                                    </ul>
                                </div>
                                <div class="col-6 col-12-small">
                                    <ul class="link-list">
                                        <li><a href="#">Quis accumsan lorem</a></li>
                                        <li><a href="#">Sed neque nisi consequat</a></li>
                                        <li><a href="#">Eget et amet consequat</a></li>
                                        <li><a href="#">Dapibus sed mattis blandit</a></li>
                                        <li><a href="#">Vitae magna sed dolore</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </section>

                </div>
                <div class="col-6 col-12-medium">

                    <section>
                        <h2>An assortment of pictures and text</h2>
                        <p>HI KIDS!!!!!!!!!!!!!!!!!!!!!!!!!!!!</p>
                        <ul class="big-image-list">
                            <li>
                                <a href="#"><img src="{% static 'minimaxing/images/pic3.jpg' %}" alt="" class="left" /></a>
                                <h3>Magna Gravida Dolore</h3>
                                <p>Varius nibh. Suspendisse vitae magna eget et amet mollis justo
                                facilisis amet quis consectetur in, sollicitudin vitae justo. Cras
                                Maecenas eu arcu purus, phasellus fermentum elit.</p>
                            </li>
                            <li>
                                <a href="#"><img src="{% static 'minimaxing/images/pic4.jpg' %}" alt="" class="left" /></a>
                                <h3>Magna Gravida Dolore</h3>
                                <p>Varius nibh. Suspendisse vitae magna eget et amet mollis justo
                                facilisis amet quis consectetur in, sollicitudin vitae justo. Cras
                                Maecenas eu arcu purus, phasellus fermentum elit.</p>
                            </li>
                            <li>
                                <a href="#"><img src="{% static 'minimaxing/images/pic5.jpg' %}" alt="" class="left" /></a>
                                <h3>Magna Gravida Dolore</h3>
                                <p>Varius nibh. Suspendisse vitae magna eget et amet mollis justo
                                facilisis amet quis consectetur in, sollicitudin vitae justo. Cras
                                Maecenas eu arcu purus, phasellus fermentum elit.</p>
                            </li>
                        </ul>
                    </section>

                </div>
                <div class="col-6 col-12-medium">

                    <article class="blog-post">
                        <h2>Just another blog post</h2>
                        <a class="comments" href="#">33 comments</a>
                        <a href="#"><img src="images/pic6.jpg" alt="" class="top blog-post-image" /></a>
                        <h3>Magna Gravida Dolore</h3>
                        <p>Aenean non massa sapien. In hac habitasse platea dictumst.
                        Maecenas sodales purus et nulla sodales aliquam. Aenean ac
                        porttitor metus. In hac habitasse platea dictumst. Phasellus
                        blandit turpis in leo scelerisque mollis. Nulla venenatis
                        ipsum nec est porta rhoncus. Mauris sodales sed pharetra
                        nisi nec consectetur. Cras elit magna, hendrerit nec
                        consectetur in, sollicitudin vitae justo. Cras amet aliquet
                        Aliquam ligula turpis, feugiat id fermentum malesuada,
                        rutrum eget turpis. Mauris sodales sed pharetra nisi nec
                        consectetur. Cras elit magna, hendrerit nec consectetur
                        in sollicitudin vitae.</p>
                        <footer class="controls">
                            <a href="#" class="button">Continue Reading</a>
                        </footer>
                    </article>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
